/*
Copyright 2019-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE files in the repository root for full details.
*/

.mx_AuthPage {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $authpage-bg-color;
    height: 100vh;
    overflow: auto;
}

.mx_AuthPage_modal {
    display: flex;
    margin: 100px auto auto;
    border-radius: 24px;
    background-color: $authpage-modal-bg-color;

    @media only screen and (max-height: 768px) {
        margin-top: 50px;
    }

    @media only screen and (max-width: 480px) {
        margin-top: 0;
    }

    &.mx_AuthPage_modal_withBlur {
        /* Apply glass morphism effect */
        border: 1px solid $authpage-glass-border-color;
        box-shadow: $authpage-glass-shadow;

        .mx_AuthPage_modalContent {
            /* Make the modal's background semitransparent with backdrop filter */
            background-color: $authpage-modal-content-with-blur-bg-color;
            backdrop-filter: blur($authpage-glass-blur) saturate($authpage-glass-saturate);
            -webkit-backdrop-filter: blur($authpage-glass-blur) saturate($authpage-glass-saturate);
        }
    }
}
